@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

/*font-family: 'Fredericka the Great', cursive;*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
main.products>section{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1rem;
	max-width: 1200px;
	grid-template-rows: 1fr;
	margin: 0 auto;
    background-color: antiquewhite;
}

main.products>section>h1{
    font-family: 'Fredericka the Great', cursive;
    color:#ffd24f;
    text-transform: capitalize;
	grid-column: 1/-1;
	font-size: 2rem;
	margin: 3rem 0 0 0;
}

ul {
    background-attachment: fixed;
    float: right;
    list-style-type: none;
    margin-top: 2vw;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: antiquewhite;
    padding: 0.5vw 1vw;
    border: 1px solid transparent;
    transition: 0.8s ease;
    font-size: 1.5vw;
}

.main ul li a:hover {
    color: blueviolet;
    text-decoration: underline;

}

ul li a.active {
    color: blueviolet;
    text-decoration: underline;

}

img{
        width: 100%;
    height: auto;
}
/*  if discount  */
.discount{
    color: red;
    text-decoration: line-through;

}


/*style for soldout*/


.soldout{

}
button{
    background: #ffd24f;
    border-color: #ffd24f;
    color: #424242;
}
