@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Livvic', sans-serif;
    box-sizing: border-box;
}
main.products>section{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 1rem;
	max-width: 1300px;
	grid-template-rows: 1fr;
	margin: 0 auto;
}

main.products>section>h1{
	grid-column: 1/-1;
	font-size: 5rem;
	margin: 6rem 0 0 0;
}

ul {
    background-attachment: fixed;
    float: right;
    list-style-type: none;
    margin-top: 2vw;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: antiquewhite;
    padding: 0.5vw 1vw;
    border: 1px solid transparent;
    transition: 0.8s ease;
    font-size: 1.5vw;
}

.main ul li a:hover {
    color: blueviolet;
    text-decoration: underline;

}

ul li a.active {
    color: blueviolet;
    text-decoration: underline;

}

img{
        width: 26.6vw;
    height: auto;
}
/*  if discount  */
.discount{
    color: red;
    text-decoration: line-through;

}
.soldout{
    background: red;
}
